.photo-group-selector {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

.photo-group-selector a {
	text-decoration: none;
	color: #4673BA;
	font-weight: bold;
	text-align: center;
}

.photo-group-selector a:hover {
	text-decoration: none;
	color: gray;
}

.photo-group-selector li {
	padding: 1em;
}

.photo-group-selector {
	margin-bottom: 5vh;
}

.gallery-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}

.photo-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.photo-group-link {
	text-decoration: none;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.photo-group img {
	max-width: 250px;
	max-height: 188px
}

.photo-group img:hover {
	filter: brightness(120%); 
	cursor: pointer;
}

.photo-group h3 {
	max-width: 250px;
	text-align: center;
	height: 50px;
}

.photo-group h3 {
	padding: 0;
}

.grid-label {
	width: 100%;
	text-align: left;
	padding: 0;
	margin-top: 0.5em;
}

.photo-grid {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}

.photo-grid img {
	object-fit: cover;
	width: 33%;
	height: 300px;
	padding: 5px;
}

.photo-grid img:hover {
	object-fit: contain;
	cursor: pointer;
}


@media (max-width: 1200px) {
	.photo-grid img {
		width: 50%;
	}

}

@media (max-width: 850px) {
	.photo-grid img {
		width: 100%;
	}

}

@media (max-width: 750px) {
	.photo-group-selector {
		flex-wrap: wrap;
	}
}


