* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	font-size: 1em;
	font-family: "Roboto", sans-serif;
}

/*Need to hide elements that wouldn't rendered 
if not setting all elements to be display flex.*/
head, script {
	display: none;
}

/* Header formatting  */
body {
	flex-direction: column;
	justify-content: space-between;
	padding: 5vh 5vw;
	width: 100%;
}

header img {
	max-width: 70%;
	height: auto;
}

header {
	justify-content: space-between;
	padding-bottom: 5vh;
}

.nav {
	align-items: flex-end;
	justify-content: flex-end;
}

.nav a {
	text-decoration: none;
	color: black;
}


.nav li {
	margin-right: 1vw;
	font-size: 1.3em;
	padding-bottom: 16px;
	font-weight: 700;
	transition: all 0.5s ease;
}

.nav li:hover {
	color: #3474B6;
	cursor: pointer;
}

/* Body text formatting */
main {
	flex-direction: column;
	padding: 0 5vw;
}
 
main p {
	text-indent: 3em;
	font-size: 1.25em;
}


h3 {
	font-size: 1.5em;
	font-weight: 700;
	padding-bottom: 8px;
	padding-top: 5vh;
}

/*Media Container Formatting*/
.media-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

/*Video Formatting*/
.video-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	height: 28vw;
	width: 65%;
	padding: 10px;
}

.video-container iframe {
	width: 100%;
	height: 100%;
	border: none;
}

/* Twitter Feed Formatting */
.twitter-feed {
	height: 28vw;
	width: 30%;
	overflow-y: scroll;
}


/*Slide show formatting*/

.photo-block {
	position: relative;
	max-width: 100%;
	height: 55vh;
	transition: all 1s ease;
}

#slideselector {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px;
}

#slideselector li {
	border-radius: 50%;	
	width: 15px;
	height: 15px;
	background-color: white;
	cursor: pointer;
	margin-right: 15px;
}

.selectedPhoto {
	background-color: transparent !important;
	outline: white solid 2px;
}

#imageholder {
	width: 100%;
	height: 100%;;
}

#imageholder img {
	width: 100%;
	height: auto;
}

/* Footer formatting */
.footer-logo img {
	max-width: 20vw;
}

footer {
	justify-content: center;
}


@media (max-width: 850px) {
/* When the screen width is <=850px stack the header bar for more mobile friendly experience. */
	header {
		flex-direction: column;
	}
	.logo a {
		display: flex;
		justify-content: center;
		align-content: center;
	}
	.nav {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.nav li:first-child {
		padding-top: 16px;
	}
	.footer-logo img {
		min-width: 400px;
	}
/* Collapse media-container vertically.*/
	.media-container {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 70vh;
	}
	.video-container {
		width: 100%;
		height: 35vh;
	}
	.twitter-feed {
		width: 100%;
		height: 35vh;
	}

}