.people-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/* grid-auto-rows: 30vh; */
	grid-gap: 5vh;
	justify-content: center;
	align-items: center;
}

.person {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: red;
}

.person img {
	height: 25vh;
	width: 20vh;
}