.people-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 5vh;
	justify-content: center;
	align-items: flex-start;
}

#bio-popup {
	display: none; /* hide by default, update in javascript */
	grid-column: span 3;
}

#bio-popup p {
	font-size: 1em;
	text-align: left;
}

#return-button {
	display: none;
	cursor: pointer;
}

.person {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.person p {
	display: none;
}

/*For some reason either vscode or chrome is inserting linebreaks, hide them with this.*/
br {
	display: none !important;
}

.person h3 {
	padding: 0;
	padding-top: 2vh;
}

.person img {
	height: 25vh;
	width: 20vh;
}

/* Hidden helper class to hide elements from javascript */
.hidden {
	display: none !important;
}

@media (max-width: 850px) {
	/* When the screen width is <=850px, move to two column layout*/
	.people-container {
		grid-template-columns: 1fr 1fr;
	}

	#selected, #bio-popup {
		grid-column: span 2;
	}

	#bio-popup p {
		white-space: normal;
	}
}

@media (max-width: 500px) {
	/* When the screen width is <=350px, move to one column layout*/
	.people-container {
		grid-template-columns: 1fr;
	}

	#selected, #bio-popup {
		grid-column: span 1;
	}
}