.research-topic {
	flex-direction: column;
}

.research-topic p:first-of-type {
	text-indent: 3em;
}

.research-topic p {
	display: inline;
	text-indent: 0;
	padding-bottom: 2.5vh;
}

.research-topic i {
	display: inline;
	font-weight: 700;
}

.photo-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
}

.photo-grid img {
	width: 20vw;
	height: 20vw;
}

.long-image {
	grid-column: 2 / 5;
	width: 60vw !important;
	height: 20vw;
}

.stemcell-gif {
	grid-column: 1 / 4;
	width: 60vw !important;
}

.bioreactor-gif {
	grid-column: 1 / 5;
	width: 80vw !important;
}

.muscle-gif {
	grid-column: 1 / 4;
	width: 60vw !important;
}

.research-gif {
	object-fit: cover;
}

@media (max-width: 850px) {
	/* Fold photogrid to be 2 photos wide on smaller screens. */
	.photo-grid {
		grid-template-columns: repeat(2, 1fr);
	}
	.photo-grid img {
		width: 40vw;
		height: 40vw;
	}
	.bioreactor-img-2 {
		grid-row: 3 / 5;
	}
	
	.long-image {
		grid-column: 1 / 3;
		width: 80vw !important;
	}
	.muscle-gif, .stemcell-gif {
		grid-column: 1 / 3;
		width: 80vw !important;
	}
	.hide-on-small-screen {
		display: none;
	}
}